{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}
    <body class="{{body_class}}" data-template="base.twig">

        <header class="header" >
            {% block header %}
            
            {% endblock %}
        </header>


        {% block content %}
            Sorry, no content
        {% endblock %}  

        {% block footer %}
            
        {% endblock %}
       
        <script src="/app/themes/portfolio/js/vendor.js"></script>
        <script src="/app/themes/portfolio/js/app.js"></script>
       
        {# <script src="{{theme.path}}/js/demo.js"></script> #}
        <script type="text/javascript">
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
